<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Won't dox your location, only while the app is open (for the bot to work)</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Won't dox your location, only for background processing (for the bot to work)</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Won't dox your location, only for background processing (for the bot to work)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>audio</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
